body {
    color: #080F0F;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    text-align: center;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

/* the game div */
#theGame {
    display: inline-block;
    padding: 20px;
    background-color: #d01c8b;
    border-radius: 2px 35px;
    text-align: center;
}

#theGame table {
    border-spacing: 1px;
    display: inline-block;
}

#theGame td {
    background-color: #f7f7f7;
    border: 2px solid #f7f7f7;
    padding: 8px;
    width: 25px;
    height: 25px;
}

#theGame .counter {
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: white;
}

#theGame p {
    background-color: #fde0ef;
    padding: 3px;
    font-size: 13px;
    width: 350px;
    text-align: center;
}

#theGame p.wrong {
    background-color: #f7f7f7;
    color: red;
}

#theGame p.correct {
    background-color: #f7f7f7;
    color: green;
}

#theGame p.done {
    background-color: #f7f7f7;
    color: green;
    font-size: 20px;
    font-weight: bold;
}


#errorCheck {
    display: inline-block;
    margin: 10px;
}


.buttons button {
    display: inline-block;
}

button {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #4dac26;
    color: #f7f7f7;
    border: none;
    width: 100px;
    padding: 5px;
}

button:active, button:focus{
    background-color: #4dac26;
    border: none;
    outline: none;
}

button:hover {
    background-color: #b8e186;
    color: #d01c8b;
    border: none;
}

span {
    font-size: 12px;
    text-align: left;
}

.error {
    font-size: 15px;
    color: red;
}